/* GNERAL */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #000;
    color: #fff;
    font-size: 16px;
    text-align: center;
}

/* UTILITIES */

.mr-2 {
    margin-right: 2px;
}

.mr-5 {
    margin-right: 5px;
}

.pr-2 {
    padding-right: 2px;
}

.px-10 {
    padding: 0 10px;
}

/* HEADER */

header {
    align-self: flex-end;
    margin: 12px 7px;
}

header button {
    padding: 5px 8px;
    background-color: #3a3a39;
    border: none;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
}

/* MAIN */

main {
    flex-grow: 1;
    overflow: auto;
    margin-top: 10px;
}

main .user-column{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
}

.user-column .user {
    background-color: rgba(255, 255, 255, 0.473);
    width: 340px;
    height: 190px;
    margin: 4px;
    position: relative;
}

.user-column .user span {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 2px 5px 2px 2px;
    background:rgba(92, 91, 91, 0.473)
}

.user-column .user .icon {
    font-size: 20px;
    transform: scale(-1, 1);
    color: rgb(253, 37, 37);
}

.talk {
    border: 3px solid #f6fc8a;
}

/* FOOTER */

footer {
    background-color: #232428;
    display: flex;
    justify-content: space-between;
}

.footer-list {
    list-style: none;
}

.footer-list .list-function {
    padding: 5px 10px;
}

.footer-list .list-function .icon {
    font-size: 26px;
}

footer button {
    background-color: #3a3a39;
    border: none;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    color: #ba534b;
}
