/* GNERAL */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #000;
    color: #fff;
    font-size: 14px;
    text-align: center;
}

/* UTILITIES */

.mr-2 {
    margin-right: 2px;
}

.mr-5 {
    margin-right: 5px;
}

.pr-2 {
    padding-right: 2px;
}

/* HEADER */

header {
    align-self: flex-end;
    margin: 12px 7px;
}

header button {
    padding: 5px 8px;
    background-color: #3a3a39;
    border: none;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
}

/* MAIN */

main {
    flex-grow: 1;
    overflow: auto;
    margin-top: 10px;
}

main .user-column{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
}

.user-column .user {
    background-color: rgba(255, 255, 255, 0.473);
    border: 1px solid #000;
    width: 340px;
    height: 190px;
    margin: 2px;
    position: relative;
}

.user-column .user span {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 2px;
    background:rgba(92, 91, 91, 0.473)
}

.user-column .user .icon {
    font-size: 20px;
    transform: scale(-1, 1);
    color: rgb(253, 37, 37);
}
/* main .user-column li img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
} */

/* FOOTER */

